
<section id="main">
            
    <h1>Add a computer</h1>
    
        <form id="computer-form" action="/">
    
			<input type="hidden" id="id" name="id" class="id" value="<%= computer.id %>" />

            <fieldset>

                <div class="clearfix ">
                    <label for="name">Computer name</label>
                    <div class="input">
                        
                    <input type="text" id="name" name="name"  value="<%= computer.name %>" />

                        <span class="help-inline">Required</span> 
                    </div>
                </div>

                <div class="clearfix ">
                    <label for="introduced">Introduced date</label>
                    <div class="input">
                        
                    <input type="text" id="introduced" name="introduced" value="<%= computer.introduced %>" >

                        <span class="help-inline">Date ('yyyy-MM-dd')</span> 
                    </div>
                </div>

                <div class="clearfix ">
                    <label for="discontinued">Discontinued date</label>
                    <div class="input">
                        
                    <input type="text" id="discontinued" name="discontinued" value="<%= computer.discontinued %>" >

                        <span class="help-inline">Date ('yyyy-MM-dd')</span> 
                    </div>
                </div>

                <div class="clearfix ">
                    <label for="discontinued">Company name</label>
                    <div class="input">
                        
                    <input type="text" id="company" name="company" value="<%= computer.company %>" >

                    </div>
                </div>

            </fieldset>
        
            <div class="actions">
                <input type="submit" value="Update this computer" class="btn primary" id="form"> or 
                <a href="#" class="btn">Cancel</a> 
            </div>
        
         </form>

    </section>